/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

main input {
     display: block;
}

.timeInput {
     width: 4rem;
}

ul {
     padding: 0;
}

li {
     list-style: none;
}

.kmLabel {
     font-weight: bold;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


table {
     border-collapse: collapse;
     letter-spacing: 1px;
     font-size: 0.8rem;
   }
   
   td, th {
     border: 1px solid rgb(190,190,190);
     padding: 10px 20px;
   }
   
   th {
     background-color: rgb(235,235,235);
   }
   
   td {
     text-align: center;
   }
   
   tr:nth-child(even) td {
     background-color: rgb(250,250,250);
   }
   
   tr:nth-child(odd) td {
     background-color: rgb(245,245,245);
   }
   
   caption {
     padding: 10px;
   }

 /* Table is initially hidden */
   #splits-table {
     display: none;
   }